@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Xanh Mono', sans-serif; */
    font-family: 'Sawarabi Mincho', sans-serif;
}

#title {
    text-decoration: none;
    text-align: center;
    /* color: #2b2d42; */
    color: white;
}

.title {
    /* background-color: #cb997e; */
    background: linear-gradient(140deg, #e56b6f, #7834a2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

/* #section2 {
    padding-top: 140px;
} */

main {
    padding-top: 140px;
}

#book {
    padding-top: 140px;
}

.title h1 {
    font-size: 60px;
    font-weight: lighter;
    /* font-family: 'Xanh Mono', sans-serif; */
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight: bold;
}

#addBook_button {
    display: none;
}

#books_img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    /* filter: invert(40%) sepia(77%) saturate(466%) hue-rotate(145deg) brightness(93%) contrast(94%); */
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.nav_bar {
    /* background: linear-gradient(155deg,#eaac8b,#e56b6f); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
}

.search_bar {
    margin-left: 25px;
}

#search_input {
    padding: 8px;
    border-radius: 5px;
    align-self: flex-start;
}

.shopping_cart {
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add_book {
    margin-right: 25px;
    border-radius: 5px;
}

.add_book button {
    background-color: #17a288;
}

#login_button {
    text-decoration: none;
    font-size: 1.3rem;
    margin-right: 10px;
    color: white;
}

#down_arrow {
    display: none;
    width: 10px;
    height: 10px;
    margin-right: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 15px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    position: relative;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown {
    display: inline-block;
}

#dropdown {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* #section2 {
    background-color: #f4bdbf;
} */

@keyframes glow {
    from {
        /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
        filter: invert(0%) sepia(1%) saturate(5%) hue-rotate(304deg) brightness(97%) contrast(103%);
    }
    to {
        /* text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
        filter: invert(40%) sepia(77%) saturate(466%) hue-rotate(145deg) brightness(93%) contrast(94%);
    }
}

@-webkit-keyframes glow {
    from {
        /* text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073; */
        filter: invert(0%) sepia(1%) saturate(5%) hue-rotate(304deg) brightness(97%) contrast(103%);
    }
    to {
        /* text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6; */
        filter: invert(40%) sepia(77%) saturate(466%) hue-rotate(145deg) brightness(93%) contrast(94%);
    }
}

/*////////////////// Mobile VIEW ///////////////////*/

@media(max-width: 768px) {
    .title h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    #search_input {
        padding: 5px;
    }
    .search_bar {
        margin-left: 11px;
    }
}